#--------------------------------------------------------------------
# Configuración de Entorno para CEPS API (Laragon + MySQL)
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE (Laragon MySQL)
#--------------------------------------------------------------------

database.default.hostname = 127.0.0.1
database.default.database = ceps_db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port = 3306
